In [16]:
import pandas as pd
import numpy as np

In [17]:
def merge_data_frames(original_set, test_sets, labels):
    frames = []
    main = pd.read_csv(original_set)
    main['cancellation_datetime'] = pd.to_datetime(main['cancellation_datetime'])
    main['cancellation_datetime'] = main['cancellation_datetime'].fillna(0)
    main["cancelled"] = np.where(main["cancellation_datetime"] != 0, 1, 0)
    frames.append(main)
    for i in range(len(labels)):
        test_set = pd.read_csv(test_sets[i])
        label_df = pd.read_csv(labels[i])
        test_set["cancelled"] = label_df['cancel'].astype(int)
        frames.append(test_set)
    return pd.concat(frames)

local = "/Users/mayagoldman/PycharmProjects/new_data_challenge/"
original = "/Users/mayagoldman/PycharmProjects/new_data_challenge/data/agoda_cancellation_train.csv"
test_sets = [local + "data/Weekly test set/week_1_test_data.csv" , local + "data/Weekly test set/week_2_test_data.csv" , local + "data/Weekly test set/week_3_test_data.csv" , local + "data/Weekly test set/week_4_test_data.csv" , local + "data/Weekly test set/week_5_test_data.csv"]
labels = [local+"data/Labels/week_1_labels.csv" , local+"data/Labels/week_2_labels.csv" , local+"data/Labels/week_3_labels.csv" , local+"data/Labels/week_4_labels.csv" , local+"data/Labels/week_5_labels.csv"]
df = merge_data_frames( original, test_sets , labels)

In [18]:

df.head()

,h_booking_id,booking_datetime,checkin_date,checkout_date,hotel_id,hotel_country_code,hotel_live_date,hotel_star_rating,accommadation_type_name,charge_option,...,request_largebed,request_twinbeds,request_airport,request_earlycheckin,cancellation_datetime,hotel_area_code,hotel_brand_code,hotel_chain_code,hotel_city_code,cancelled
0,-9223194055642672935,2018-06-28 21:15:00,2018-07-09 00:00:00,2018-07-13 00:00:00,6452,HK,2009-06-28 02:02:00,4.0,Hotel,Pay Now,...,NaN,NaN,NaN,NaN,0,1192,NaN,NaN,142,0
1,-9222713784330706132,2018-08-10 22:31:00,2018-08-16 00:00:00,2018-08-17 00:00:00,47729,CN,2011-06-07 11:52:00,4.0,Hotel,Pay Later,...,0.0,1.0,0.0,0.0,0,5617,902.0,600.0,1273,0
2,-9222411208325704942,2018-09-14 07:55:00,2018-09-14 00:00:00,2018-09-15 00:00:00,780431,KR,2014-11-20 15:43:00,4.0,Hotel,Pay Now,...,0.0,0.0,0.0,0.0,0,3819,NaN,NaN,2799,0
3,-9222220845872895471,2018-06-25 07:33:00,2018-07-02 00:00:00,2018-07-03 00:00:00,291365,JP,2011-11-21 12:27:00,3.0,Hotel,Pay Later,...,1.0,0.0,0.0,0.0,0,2379,466.0,236.0,1448,0
4,-9221127186162682116,2018-07-23 10:06:00,2018-08-09 00:00:00,2018-08-10 00:00:00,479046,TH,2013-06-06 10:04:00,3.0,Resort,Pay Later,...,1.0,0.0,0.0,0.0,2018-07-23 00:00:00,1506,NaN,NaN,616,1

In [19]:
df.describe()

,h_booking_id,hotel_id,hotel_star_rating,h_customer_id,guest_is_not_the_customer,no_of_adults,no_of_children,no_of_extra_bed,no_of_room,original_selling_amount,...,request_highfloor,request_largebed,request_twinbeds,request_airport,request_earlycheckin,hotel_area_code,hotel_brand_code,hotel_chain_code,hotel_city_code,cancelled
count,6.215900e+04,6.215900e+04,62159.000000,6.215900e+04,62159.000000,62159.000000,62159.000000,62159.000000,62159.000000,62159.000000,...,36471.000000,36471.000000,36471.000000,36471.000000,36471.000000,62159.000000,16353.000000,16829.000000,62159.000000,62159.000000
mean,-3.030068e+17,1.356420e+06,3.226154,4.507414e+18,0.213613,2.361444,0.152335,0.011792,1.144340,225.205146,...,0.149818,0.396918,0.165913,0.006882,0.033095,3023.574446,478.448725,357.088716,1498.912225,0.255265
std,5.337799e+18,1.377429e+06,1.171148,2.805723e+18,0.409860,1.346441,0.538139,0.118331,0.525562,454.173650,...,0.356897,0.489265,0.372007,0.082674,0.178887,1734.202611,277.855160,209.561400,906.683032,0.436013
min,-9.223194e+18,1.000000e+00,-1.000000,-9.096408e+18,0.000000,1.000000,0.000000,0.000000,1.000000,2.100000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,-4.923267e+18,2.562170e+05,3.000000,2.221377e+18,0.000000,2.000000,0.000000,0.000000,1.000000,51.915000,...,0.000000,0.000000,0.000000,0.000000,0.000000,1469.000000,253.000000,181.000000,608.000000,0.000000
50%,-5.896088e+17,8.097590e+05,3.000000,4.522951e+18,0.000000,2.000000,0.000000,0.000000,1.000000,111.350000,...,0.000000,0.000000,0.000000,0.000000,0.000000,3134.000000,480.000000,355.000000,1572.000000,0.000000
75%,4.311517e+18,2.318505e+06,4.000000,6.873213e+18,0.000000,2.000000,0.000000,0.000000,1.000000,250.290000,...,0.000000,1.000000,0.000000,0.000000,0.000000,4568.000000,739.000000,577.000000,2310.000000,1.000000
max,9.223338e+18,6.165986e+06,5.000000,9.223335e+18,1.000000,38.000000,10.000000,5.000000,9.000000,49566.160000,...,1.000000,1.000000,1.000000,1.000000,1.000000,5896.000000,937.000000,681.000000,2809.000000,1.000000

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 62159 entries, 0 to 699
Data columns (total 40 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   h_booking_id                    62159 non-null  int64
 1   booking_datetime                62159 non-null  object
 2   checkin_date                    62159 non-null  object
 3   checkout_date                   62159 non-null  object
 4   hotel_id                        62159 non-null  int64
 5   hotel_country_code              62155 non-null  object
 6   hotel_live_date                 62159 non-null  object
 7   hotel_star_rating               62159 non-null  float64
 8   accommadation_type_name         62159 non-null  object
 9   charge_option                   62159 non-null  object
 10  h_customer_id                   62159 non-null  int64
 11  customer_nationality            62159 non-null  object
 12  guest_is_not_the_customer       62159 non-null  int64
 13  guest_nationality_country_name  62159 non-null  object
 14  no_of_adults                    62159 non-null  int64
 15  no_of_children                  62159 non-null  int64
 16  no_of_extra_bed                 62159 non-null  int64
 17  no_of_room                      62159 non-null  int64
 18  origin_country_code             62157 non-null  object
 19  language                        62159 non-null  object
 20  original_selling_amount         62159 non-null  float64
 21  original_payment_method         62159 non-null  object
 22  original_payment_type           62159 non-null  object
 23  original_payment_currency       62159 non-null  object
 24  is_user_logged_in               62159 non-null  bool
 25  cancellation_policy_code        62159 non-null  object
 26  is_first_booking                62159 non-null  bool
 27  request_nonesmoke               36471 non-null  float64
 28  request_latecheckin             36471 non-null  float64
 29  request_highfloor               36471 non-null  float64
 30  request_largebed                36471 non-null  float64
 31  request_twinbeds                36471 non-null  float64
 32  request_airport                 36471 non-null  float64
 33  request_earlycheckin            36471 non-null  float64
 34  cancellation_datetime           58659 non-null  object
 35  hotel_area_code                 62159 non-null  int64
 36  hotel_brand_code                16353 non-null  float64
 37  hotel_chain_code                16829 non-null  float64
 38  hotel_city_code                 62159 non-null  int64
 39  cancelled                       62159 non-null  int64
dtypes: bool(2), float64(11), int64(11), object(16)
memory usage: 18.6+ MB

In [21]:
df.nunique().sort_values(ascending=False)/len(df)

h_booking_id                      1.000000
booking_datetime                  0.857398
original_selling_amount           0.507778
hotel_id                          0.488441
h_customer_id                     0.481394
hotel_live_date                   0.335720
hotel_area_code                   0.092408
hotel_city_code                   0.044097
hotel_brand_code                  0.014672
cancellation_policy_code          0.014029
hotel_chain_code                  0.010634
cancellation_datetime             0.005711
checkin_date                      0.005615
checkout_date                     0.005438
guest_nationality_country_name    0.002397
origin_country_code               0.002333
customer_nationality              0.002301
hotel_country_code                0.002124
original_payment_currency         0.000820
language                          0.000788
original_payment_method           0.000579
accommadation_type_name           0.000354
no_of_adults                      0.000354
hotel_star_rating                 0.000177
no_of_children                    0.000177
no_of_room                        0.000145
no_of_extra_bed                   0.000097
charge_option                     0.000048
original_payment_type             0.000048
request_airport                   0.000032
guest_is_not_the_customer         0.000032
request_earlycheckin              0.000032
request_largebed                  0.000032
request_twinbeds                  0.000032
request_highfloor                 0.000032
request_latecheckin               0.000032
request_nonesmoke                 0.000032
is_first_booking                  0.000032
is_user_logged_in                 0.000032
cancelled                         0.000032
dtype: float64

In [26]:
from numpy import dtype
import os
import plotly.express as px
if not os.path.exists("data_challenge_images"):
    os.mkdir("data_challenge_images")

df.dropna().drop_duplicates()

for c in df.columns:
    if dtype(df[c]):
        title = str(c) + " vs cancelled"
        fig = px.histogram(df , x= c , color = "cancelled", histnorm = "density" ,  barmode='group', height=400 , title = title )
        # fig.write_image("data_challenge_images/" + str(c) +".png")
        fig.show("browser")

In [ ]:
# df['unique_user'] = df['h_customer_id'].duplicated(keep = False)
# temp = df[(df['unique_user'] == True) ]
# temp.sort_values(by="h_customer_id")
# d = temp[temp["h_customer_id"] == 2365463449144730063]
# d.head()